<div>
  <h1>Compra finalizada</h1>
  <div style="text-align:center">
    <img src="cid:logo" />
  </div>
  <div>
    <h4>Compra finalizada</h4>
    <p>
      Gracias por realizar su compra, en breve enviaremos la factura de compra y
      fecha de entrega.</p>

  </div>

  <p>Saludos cordiales</p>
  <p>Distribuidora Bescos</p>
</div>