<div class="container">
  <h1 class="title">Bienvenidos y bienvenidas a nuestra tienda</h1>

  <div class="row mt-3 text-center">
    <h3>Si no eres cliente puedes registrarte</h3>
    <a href="/register"><button
        class="btn btn-success mt-3"
      >Registrarse</button></a>
  </div>

  <div class="row mt-3 text-center">
    <h3>Si eres cliente puedes iniciar sesi贸n</h3>
    <a href="/login"><button class="btn btn-success mt-3">Iniciar sesi贸n</button></a>
  </div>
  <div class="row mt-3 text-center">
    <h3>Puedes utilizar GitHub</h3>
    <a href="/api/sessions/github"><button class="btn btn-success mt-3">Iniciar
        sesi贸n</button></a>
  </div>
  <div class="row mt-3 text-center">
    <h3>Puedes utilizar Google</h3>
    <a href="/api/sessions/google"><button class="btn btn-success mt-3">Iniciar
        sesi贸n</button></a>
  </div>
</div>