<h1 class="title">Ingresa</h1>

<form class="formProducts" id="loginForm">
  <label class="label">Email</label>
  <input class="controls" name="email" />

  <label class="label">Contraseña</label>
  <input class="controls" name="password" />

  <input class="btn btn-success" type="submit" />
</form>

<script src="/js/login.js"></script>