
<h2 class="subtitle">Perfil</h2class>

<div class="container">

 <div class="profile" id="profile"> </div>

 <div class="container">
  <button class="btn btn-logout btn-primary" id="logout" onclick="adios()">Logout</button>
</div>
<script src="js/profile.js"></script>