<div class ="container">
  <h2 class="subtitle">Información de usuarios</h2>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody id="usersContainer">
      
      </tbody>

</div>

<script src="/js/usersInfo.js"></script>